<!--
  程式名稱:	
  系統代號: PROJ_A
  作    者: denny
  日    期: 2024/06/12
  說    明: CRUD
  Date        PG         Memo
  ---------   ---------  -------------------------
-->
@{
    ViewBag.Title = "PROJ_A";
}

<div>
    hello
</div>
<script>

</script>